<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bem Vindo!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <div>
      <h1>Login </h1>
      <h2>Digite seu Usuário e Senha</h2>
    </div>

    <div>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="user.login" label="Usuário" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="user.password" label="Senha" label-placement="floating" fill="solid" placeholder="Enter text"
            type="password"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <ion-item>
      <ion-button fill="clear" slot="start" size="small" (click)="onClickCadastrar()">Cadastre-se</ion-button>
      <ion-button fill="clear" slot="end" size="large" color="success" shape="round" (click)="onClickEnter()">Entrar</ion-button>
    </ion-item>
</ion-content>