<ion-header [translucent]="true">
  <ion-toolbar [color]="cat.color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{cat.name}}</ion-title>
    <ion-toggle class="ion-padding-end" slot="end" (ionChange)="toggleChange()">Ação</ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="full" >
    <div *ngFor="let task of tasks$ | async as tasks"> 
      <ion-item lines="none">
        <ion-checkbox [checked]= task.done labelPlacement="end" justify="start" (ionChange)="taskChange(task)">{{task.name}}</ion-checkbox>
        <ion-button *ngIf="deleteMode"  fill="clear" (click)="onClickDelete(task)">
          <ion-icon slot="icon-only" name="trash" size="large" 
            ></ion-icon>
        </ion-button>
        <ion-button *ngIf="!deleteMode" fill="clear" (click)="onClickEdit(task)">
          <ion-icon slot="icon-only" name="create" size="large"></ion-icon>
        </ion-button>
      </ion-item>
      <!-- <ion-item>
        <ion-badge slot="start">{{task.startDate}}</ion-badge>
      </ion-item> -->
      <!-- <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
      <ion-button fill="clear">{{task.dateStart}}</ion-button>
      <ion-button fill="clear">{{task.dateEnd}}</ion-button> -->
    </div>
    
  </ion-list>

  <ion-fab  slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [color]="cat.color" (click)="onClickAdd()">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>