<ion-header [translucent]="true">
  <ion-toolbar [color]="cat.color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{cat.name}}</ion-title>
    <ion-toggle class="ion-padding-end" slot="end" (ionChange)="toggleChange()">Ação</ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="full" >
    <ion-item *ngFor="let task of tasks$ | async as tasks">
      <ion-checkbox [checked]= task.done labelPlacement="end" justify="start" (ionChange)="taskChange(task)">{{task.name}}</ion-checkbox>
      <div>
        <ion-input [(ngModel)]="task.dateStart" display-format="MMM DD, YYYY" slot="start"></ion-input>
        <ion-input [(ngModel)]="task.dateEnd" display-format="MMM DD, YYYY" slot="start"></ion-input>
      </div>
      <ion-button *ngIf="deleteMode"  fill="clear" (click)="onClickDelete(task)">
        <ion-icon slot="icon-only" name="trash" size="large" 
          ></ion-icon>
      </ion-button>
      <ion-button *ngIf="!deleteMode" fill="clear" (click)="onClickEdit(task)">
        <ion-icon slot="icon-only" name="create" size="large"></ion-icon>
      </ion-button>
    </ion-item>
    
  </ion-list>

  <ion-fab  slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [color]="cat.color" (click)="onClickAdd()">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>