<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>{{cat.name}}</ion-title>
    <ion-toggle slot="end" (ionChange)="toggleChange()"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-list lines="full" *ngFor="let nome of lista"> -->
  <ion-list lines="full" *ngFor="let task of tasks$ | async as tasks">
    <ion-item>
      <ion-checkbox justify="start">{{task.name}}</ion-checkbox>
      <ion-button>
        <ion-icon slot="icon-only" name="trash" size="small" labelPlacement="end"
          (click)="onClickDelete('task')"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onClickAdd()">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>